<script src="/javascripts/gif-modal/libgif.min.js"></script>
<script src="/javascripts/gif-modal/voice.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/javascripts/gif-modal/gif-speach-modal.js"></script>


<div class="site-header">
  <h2><a class= "text-muted" href="/revolutions"><i class="fa fa-chevron-circle-left fa-2x"></i></a> </h2>
</div>

<div class="container main-body rev-box">
  <div class="card">
    <div class="card-header rev-details-header">
      <div class="title-and-author">
          <h5 class="card-title"><%= revolution.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><small>by <%= revolution.creator.username %></small></h6>
      </div>
      <div class="participants-intensity">
          <p class="text-muted">Participants: <span class="badge badge-dark badge-pill"><%= revolution.participants.length %></span></p>
          <p class="text-muted">Intensity: <span class="badge badge-dark badge-pill"><%= revolution.molotovScale %></span></p>
      </div>        
    </div>
    <div class="card-body">
      <p class="card-text"><%= revolution.description %></p>
           
    </div>
    <div class="card-footer text-muted rev-details-header">
      <div>
          <a href="#" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#speachModal"><i class="fa fa-play"></i> Call to action</a>  
          <% if(isParticipant){ %>
            <form action="/leave/<%= revolution._id %>" method="POST">
              <button type="submit" class="btn btn-outline-dark btn-sm">Give up the fight</button>
            </form>            
            <% } else { %>
              <form action="/join/<%= revolution._id %>" method="POST">
                <button type="submit" class="btn btn-outline-danger btn-sm">Join the battle</button> 
              </form>              
          <% } %>
                 
      </div>
      <div>
          <p><i class="fa fa-calendar"></i> <%= revolution.date.toLocaleDateString() %></p>
          <p><i class="fa fa-map-marker"></i> <%= revolution.address%></p>
      </div>       
    </div>
  </div>
    <div class="card test-map">
      <div class="card-body">
        <div id="map"></div>
      </div>
  </div>
</div>
<script type="text/javascript">
  var revolution = <%- JSON.stringify(revolution) %>;
  var userLocation = <%- JSON.stringify(userLocation) %>;
  </script>

  <script type="text/javascript"> 
  const info = {
      modalTitle : <%- JSON.stringify(revolution.name) %>,
      voice : 'UK English Male',
      gifUrl : '/images/manifesto.gif',
      date : <%- JSON.stringify(revolution.date.toLocaleDateString()) %>,
      address : <%- JSON.stringify(revolution.address)%>,
      manifesto : <%- JSON.stringify(revolution.callToAction) %>,
  }

  const Modal = new SpeachModal(info);
  Modal.ready();
</script>
<script src="/javascripts/revolution-detail.js"></script>